<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura,opencover</Format>
          <Include>
            [LenovoLegionToolkit.Lib.Plugins]*
            [UniversalDeviceToolkit.Lib]*
            [UniversalDeviceToolkit.WPF]*
          </Include>
          <Exclude>[LenovoLegionToolkit.Tests]*</Exclude>
          <SkipAutoProps>true</SkipAutoProps>
          <Threshold>50</Threshold>
          <ThresholdType>line</ThresholdType>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
