[submodule "Plugins/ShellIntegration/third-party/ShellIntegration"]
	path = Plugins/ShellIntegration/third-party/ShellIntegration
	url = https://github.com/sammycage/plutosvg.git
[submodule "Plugins/ShellIntegration/third-party/ShellIntegration/src/lib/detours"]
	path = Plugins/ShellIntegration/third-party/ShellIntegration/src/lib/detours
	url = https://github.com/microsoft/Detours.git