name: Build

on:
  push:
    branches: [ master ]
    paths-ignore:
      - 'plugins/**'
  pull_request:
    branches: [ master ]
    paths-ignore:
      - 'plugins/**'

jobs:
  build:

    runs-on: windows-2022

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 0
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x
    - name: Update submodules to latest
      run: git submodule update --init --recursive --depth=0
    - name: Build
      run: .\make.bat
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: installer
        path: build_installer\LenovoLegionToolkitSetup.exe
