name: Release

on:
  push:
    tags:
      - "v*"
      - "[0-9]*"

jobs:
  build:
    permissions:
      contents: write

    runs-on: windows-2022

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 0
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2
    - name: Install Inno Setup
      run: choco install innosetup -y
    - name: Update submodules to latest
      run: git submodule update --init --recursive --depth=0
    - name: Prepare Version
      shell: pwsh
      run: |
        $version = "${{ github.ref_name }}" -replace "^v", ""
        echo "VERSION=$version" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
    - name: Build
      run: .\make.bat ${{ env.VERSION }}
    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        files: build_installer/LenovoLegionToolkitSetup.exe
        fail_on_unmatched_files: true
        prerelease: ${{ contains(github.ref, '-') }}

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: installer
        path: build_installer/LenovoLegionToolkitSetup.exe
